* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}



body {
    font-family: Poppins, sans-serif;
}

nav, h1, h2 {
    color: rgb(6, 6, 61)
}

img {
    height: auto;
    width: 50px;

}

.scroller {
    /* scroll-snap-type: y mandatory; */
    /* overflow-y: scroll; */
    height: 100vh;
}



header {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    position: fixed;
    z-index: 1;
    background-color: white;
    padding-bottom: 10px;
    /* border-bottom: 3px solid rgb(6, 6, 61); */
}

ul {
    list-style-type: none;
}

nav li {
    float: left;
    padding: 20px;
}

main {
    padding-top: 300px;
    margin-left: 120px;
    
    height: 100vh;
    padding-right: 120px;
}

.subscribe {
    background-color: rgb(6, 6, 61);
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    justify-self: center;
    margin-top: 15px;
    margin-left: 20px;
    
    

}

#scroll {
    color: gray;
    opacity: 0.5;
}


main h1, main h2, main h3 {
    padding-bottom: 30px;
}

.container {
    margin-top: 00px;
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(2, 500px);
    grid-gap: 20px;
    height: 100vh;
}

.wrapper {
    display: grid;
    justify-content: center;
    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.card h3 {
    font-size: 32px;
    font-weight: 600px;
    margin-bottom: 40px;

}



.about-me {
    background-color: #fbf3f7;
}

.about-me h3 {
    color: #70063b;
}

.projects {
    background-color: #faf5ef;
}

.projects h3 {
    color: #99590a;
}

.research {
    background-color: #eff3fa;
}
.research h3 {
    color: #0d419c;
}

.my-journey {
    background-color: #e8faf8;
}

.my-journey h3 {
    color: #056e62;
}

.services {
    background-color: #fcf9f3;
}

.services h3 {
    color: #ac770d;
}

.newsletter {
    background-color: #fff1f1;
}

.newsletter h3 {
    color: #a51a1a;
}

footer {
    background-color: rgb(248, 248, 248);
    margin-top: 150px;
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 30px;
    font-size: 12px;
    

}

footer h4 {
    margin-bottom: 10px;
}

footer img {
    width: 40px;
    color: gray;
    margin-bottom: 10px;
}

#footer-one {
    width: 150px;
    color: gray;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.subtle {
    padding-top: 30px;
    background-color: rgb(248, 248, 248);
    text-align: center;
    color: gray;
    padding-bottom: 10px;
    font-size: 12px;
}

footer li {
    padding-bottom: 10px;
}

main {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
 
}

.wrapper {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@media only screen and (max-width: 1060px) {
    header h1 {
        font-size: 20px;
    }

    nav li {
        padding: 10px;
    }

    .subscribe {
        margin-top: 5px;
    }

    .container {

        grid-template-columns: repeat(2, 400px);
        

    }

    dd {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    
}

@media only screen and (max-width: 850px) {
    .container {
        grid-template-rows: repeat(6, 200px);
        grid-template-columns: repeat(1, 600px);
        height: 200vh;
   
        
    }
    nav {
        display: none;
    }
    header {
        justify-content: space-evenly;  
    }
    main {
        padding-left: 50px;
        padding-right: 30px;
        padding-top: 220px;
        margin-left: 0px;
    }
    header h1 {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 600px) {

 
    .container section {
        justify-self: center;
        width: 70%;
        flex-grow: inherit;
        
    }

    header h1 {
        padding-left: 20px;
    }

}